@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');


:root{
    --darkblue: RGB(100,160,142);
		--lightblue: RGB(190,216,211);
		--lightorange: RGB(253,200,84);
		--darkorange: RGB(249,150,49);
		--lightgray: RGB(245,245,245);
}


body {
	font-family: 'Josefin Sans';
}

.profile-header{
	padding-top: 50px;
	border-bottom: 1px solid black;
	background-color: var(--lightgray);
}



.icon {
	 width: 50px;
	 height: 50px;
}

.bg-success {
	font-family: 'Raleway';
	font-weight: bold;
	font-size: 50px;
	background-color: transparent;
}

.label-info {
	font-family: 'Raleway';
	font-weight: bold;
	font-size: 14px;
	background-color: #7de8d8;
	color: white;
}

.container {
	position: relative;
	height: auto;
	width: auto;
	overflow: hidden;
	margin: 5px;
}

a {
	float: left;
	margin: 20px;
}

.featuredPicture {
	width: 270px;
	height: 270px;
}

.bigPicture {
	position: absolute;
	top:900px;
	left:20px;
}

.thumbnail {
	width: 70px;
	height: 70px;
	margin: -2px;
}

.thumbnail:hover {
	opacity: 0.8;
}

.ib {
	display: inline-block;
}

.btn-primary{
	background-color: #7de8d8;
	color: white;
	font-family: 'Raleway';
	font-weight: bold;
	font-size: 16px;
	border: 0px solid black;
}

.btn-primary:hover{
	background-color: RGB(229,29,47);
}
