@import url('https://fonts.googleapis.com/css?family=Comfortaa|Quattrocento+Sans');
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab');

:root{
    --darkblue: RGB(100,160,142);
		--lightblue: RGB(190,216,211);
		--lightorange: RGB(253,200,84);
		--darkorange: RGB(249,150,49);
		--lightgray: RGB(245,245,245);
}





hr {
    display: block;
    height: 1px;
    width: 100%;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 6px;
    padding: 0px;
}

.arrow {
  vertical-align: top;
  max-height: 200px;
  display: inline-block;
  margin-left: 60px;
}

.close {
	background-color: transparent;
	float: right;
	width: 10px;
	border-radius: 15px;
  color: black;
  opacity: 1.0;
}
.close:hover {
  background-color: transparent;
  color: var(--darkblue);
	font-weight: bold;
}

.description {
	font-family: 'Josefin Slab';
	font-size: 20px;
	font-weight: 'light';
  height: 30px;

}

.description-f {
	font-family: 'Josefin Slab';
	font-size: 20px;
	font-weight: 'light';
  height: 30px;
}

.dot-robert, .dot-benjamin, .dot-staples {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin:0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot-benjamin:hover, .dot-staples:hover, .dot-robert:hover {
  background-color: #717171;
}

.empty {
	position: relative;
	top:0px;
	left:0px;
	height:542px;
	width:1170px;
	background-color: white;
  border: 0px solid black;
}

.empty-lineup {
  position: relative;
	top:0px;
	left:0px;
	height:140px;
	width:1170px;
	background-color: white;
  border: 1px solid black;
  padding-top: 16px;
}

.favorites {
	font-family: 'Comfortaa';
  font-size: 40px;
  font-weight: bold;
  color: var(--darkblue);
	padding-left: 5px;
}

.favorites-header{
	padding-top: 50px;
	border-bottom: 1px solid black;
	background-color: var(--lightgray);
}

.features-space{
  position: relative;
  height:252px;
  background-color: white;
  border: 1px solid white;
}

.icon {
	 width: 50px;
	 height: 50px;
	 position: relative;
	 bottom: 14px;
}

.icon-container {
  position: relative;
  height: 140px;
  width: 200px;
  display: inline-block;
  border: 1px solid gray;
  margin-right: 8px;
  border-radius: 4px;
  overflow: hidden
}

.lineup-text {
  text-align:center;
}

.low {
  margin-top: 170px;
  display: inline-block;
  font-size: 20px;
}

.name {
	font-family: 'Comfortaa';
	font-size: 24px;
	font-weight: 'black';
	padding-top: 10px;
}

.notification {
	visibility: hidden;
	position:fixed;
	right:60px;
	bottom:30px;
	height:150px;
	width:250px;
	background: white;
	opacity: 0.75;
	border-top: 10px solid var(--darkblue);
}

.notification:hover {
	opacity: 0.95;
}

.notification-text {
	text-align: left;
	padding-top: 20px;
	padding-left: 10px;
	font-size: 16px;
	padding-bottom: 20px;
	font-family: 'Josefin Slab';
	font-weight: 'light';
}

.paw {
	max-width: 20px;
	max-height: 20px;
	position: relative;
	padding-left: 2px;
	padding-right: 2px;
	bottom: 2px;
}

.pet {
  display: table-cell;
	width: 262px;
	height: 542px;
  text-align: center;
  vertical-align: top;
  line-height: 2em;
	border: 0px solid white;
	background: white;
	opacity: 0.95;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 5px;
	padding-right: 5px;
  margin-right: 12px;
}

.pet-features {
  width: 160px;
}

.pet-lineup {
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: var(--lightgray);
  height: 150px;
}

.pets {
  display:table;
	overflow: scroll;
}

.pet-icon {
  position:absolute;
  top:0px;
  left:0px;
  height: 140px;
  width: 200;

}.prev, .next {
  display: inline-block;
  cursor: pointer;
  position: relative;
  width: auto;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  padding-top: 73px;
  padding-bottom: 72px;
  padding-left: 9px;
  padding-right: 9px;
  top: -187px;
  margin-bottom: -100px;
}

.prev {
  float: left;
  margin-left: 1px;
}

.next {
  float:right;
  margin-right: 1px;
}

.prev:hover, .next:hover {
  background-color: rgba(209,209,209,0.8);
}

.prof {
	width:100%;
	vertical-align:top;
}

.profile {
  margin-top: 20px;
  margin-bottom: 40px;
	background-color: var(--darkblue);
	color: white;
	font-family: 'Comfortaa';
	font-weight: bold;
  text-transform: capitalize !important;
}

.profile:hover {
  background-color: var(--lightorange);
  color: white;
	font-weight: bold;
}

.remove {
  background-color: white;
  position:absolute;
  top:0px;
  right:0px;
  width: 5px;
  padding-left: 6px !important;
  padding-right: 16px !important;
  padding-top: 3px !important;
  padding-bottom: 0px !important;
  margin: 5px;
}

.remove:hover {
  color: var(--darkblue);
}

.search {
	background-color: var(--lightblue);
	color: white;
	font-family: 'Comfortaa';
	font-weight: bold;
}

.search:hover {
	background-color: var(--lightorange);
	color: white;
}

.slideshow-container {
  display: inline-block;
  width: 250px;
  height: 175px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.search-text{
	text-align: center;
	padding-top: 150px;
	padding-bottom: 50px;
	font-family: 'Comfortaa' black;
	font-size: 24px;
}

.undo {
	background-color: var(--darkblue);
	color: white;
	font-family: 'Comfortaa';
	font-weight: bold;
}

.undo:hover {
	background-color: var(--lightblue);
	color: white;
}

.wrapper {
  text-align: center;
}
