@import url('https://fonts.googleapis.com/css?family=Antic+Slab');

body {
	font-family: 'Antic Slab', serif;
}

img {
	height: 100% !important;
	width: 100%;
	
}


.sidebar {
	position: absolute;
	width: 15%;
	height: 100%;

	top: 51px;

	background-color: grey;
	overflow: scroll;
	border: 5px solid grey;

	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.results {
	background-color: #e8e8e8;
	position: absolute;
	width: 85%;
	height: 100%;

	left: 15%;
	top: 51px;

	padding-left: 20px;
	padding-top: 10px;

}

.tags {
	padding-bottom: 20px;
}

/*input[type=checkbox] {

}*/

.petbox {
	display: inline-block;
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
	margin-right: 10px;

	background-color: grey;
}

.petprev {
	width: 300px;
	height: 300px;
	cursor: pointer; cursor: hand;
}

.descbox {
	margin-top: 5px;
	background-color: white;
	padding: 5px 0px 5px 5px;
}

.petinf {
	cursor: pointer; cursor: hand;
}

.fav {
	width: 50px;
	height: 50px;
	cursor: pointer; cursor: hand;
}

.popover-title {display:none;}


