@import url('https://fonts.googleapis.com/css?family=Raleway');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');




body {
	font-family: 'Raleway';
}

img {
	height: 100% !important;
	width: 100%;

}


.sidebar {
	position: absolute;
	width: 15%;
	height: 200%;

	top: 51px;

	overflow: scroll;
	border-right: 5px solid grey;
	border-top: 5px solid grey;

	padding-top: 10px;
	padding-left: 10px;
	padding-right: 10px;
}

.results {

	position: absolute;
	width: 85%;
	height: 100%;

	left: 15%;
	top: 51px;

	border-top: 5px solid grey;

	padding-left: 20px;
	padding-top: 10px;

}

.tags {
	padding-bottom: 20px;
}

/*input[type=checkbox] {

}*/

.petbox {
	display: inline-block;
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
	margin-right: 10px;

	background-color: grey;
}

.petprev {
	width: 300px;
	height: 300px;
	cursor: pointer; cursor: hand;
}

.descbox {
	margin-top: 5px;
	background-color: white;
	padding: 5px 0px 5px 5px;
}

.petinf {
	cursor: pointer; cursor: hand;
}

.fav {
	width: 50px;
	height: 50px;
	cursor: pointer; cursor: hand;
}

.popover-title {display:none;}

.img-scroll {
	width: 300px;
	height: 300px;

}

#detarrow {
	-top: 5px;
}
